.container{
    background-size: 100% 100%;
    background-image: url("https://www.hdwallpapers.in/download/white_leaves_branches_white_background_hd_white_background-HD.jpg"); 
    background-repeat: no-repeat;
}
